:root {
  --section-ovelay: rgba(0, 0, 0, 0.7);
  --background-overlay: rgba(0, 0, 0, 0.726);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
 background: no-repeat;
  transition: 1s;
}
.overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--background-overlay);
}
.container {
  max-width: 800px;
  margin: auto;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}

/* -------------TOP----------- */

.section {
  width: 100%;
  padding: 1em;
  border-radius: 0.4rem;
  color: rgb(253, 253, 253);
}

.section__inpits,
.section__temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-ovelay);
}

.section__inpits > input {
  border-radius: 10px;
  border-color: rgb(255, 255, 255);

  background-color: transparent;

  color: white;

  padding: 0.5rem;

  font-size: 20px;
  font-weight: 200;
}

.section__inpits > input:focus {
  outline: none;
}

.section__inpits > button {
  padding: 10px 50px;
  border: none;
  border-radius: 10px;

  font-size: 20px;

  background-color: rgb(255, 255, 255);

  color: rgb(0, 0, 0);

  font-weight: bold;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon > h3 {
  font-size: 15px;
  font-weight: 200;
  text-transform: capitalize;
}
.temperature > h1 {
  font-size: 60px;
}

/* ------------------------------------ */

 

@media screen and (max-width:420px) {

   .section__temperature{
     margin-top: 50px;
     width: 250px;
     flex-direction: column;

     

     background-color: rgba(0, 0, 0, 0);

     color: rgb(255, 255, 255);
   }

   .section__inpits>input{
    width: 400px;


   }
   .section__inpits>button{
    display: none;   
   }
  
}